<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styleHW1.css">
</head>
<body>
    <form action="URL" method="post">
        <header>
            <div class="pageContainer">
                <h1>Student's Life</h1>
            </div>
            <nav class="innerHeader">
                <ul class="navigation">
                    <a href="file:///C:/Users/Levav/Documents/WEB/levavshabtay/templates/HomePage.html" target="_blank"><li>Home</li></a>
                    <a href="file:///C:/Users/Levav/Documents/WEB/levavshabtay/templates/connect.html" target="_blank"><li>Contact Us</li></a>                
                </ul>
            </nav>
        </header>

        <div class="space">
        </div>

        <nav class="Main">
            <h2 id="ContactUs ">Contact Us</h2>
            <p><strong>in this page you can have someone to share your university life with, and i"m all about that!!</strong></p>
            <label for="name"><strong>student's name :</strong></label>
            <input type="text" id="name" name="name"><br><br>
            <label for="tel"><strong>Tel :</strong></label>
            <input type="tel" id="tel" name="tel"><br><br>
            <label for="email"><strong>Email :</strong></label>
            <input type="email" id="email" name="email"><br><br>
            <label for="female"><strong>female</strong></label>
            <input type="checkbox" id="female" name="female">
            <label for="male"><strong>men</strong></label>
            <input type="checkbox" id="male" name="male"><br><br>
            <label for="yourStory"><strong>tell me about your uni life stories :)</strong></label><br><br>
            <input type="text"><br><br>
            <label for="myfile"><strong>Select a file:</strong></label><br><br>
            <input type="file" id="myfile" name="myfile"><br><br>
            <label for="robot"><strong>im not a robot</strong></label>
            <input type="checkbox" id="robot" name="robot"><br><br>
            <input type="submit" value="submit">
        </nav>

        <div class="space">
        </div>

        <footer>
            <nav class="footer">
                <ul class="navigation">
                    <a href="https://in.bgu.ac.il/en/Pages/students.aspx" target="_blank"><li>my university page</li></a>
                    <a href="https://www.facebook.com/BenGurionUniversity/" target="_blank"><li>my university facebook</li></a>
                    <a href="https://www.instagram.com/bengurionuniversity/?hl=en" target="_blank"><li>my university insta</li></a>
                    <a href="file:///C:/Users/Levav/Documents/WEB/levavshabtay/templates/connect.html" target="_blank"><li>Contact Us</li></a>                
                </ul>
            </nav>
        </footer>
        
    </form>
</body>
</html>