<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styleHW1.css">
</head>
<body>
        <header>
            <div class="pageContainer">
                <h1>Student's Life</h1>
            </div>
            <nav class="innerHeader">
                <ul class="navigation">
                    <a href="file:///C:/Users/Levav/Documents/WEB/levavshabtay/templates/HomePage.html" target="_blank"><li>Home</li></a>
                    <a href="file:///C:/Users/Levav/Documents/WEB/levavshabtay/templates/connect.html" target="_blank"><li>Contact Us</li></a>                
                </ul>
            </nav>
        </header>

        <div class="space">
        </div>

        <div  class="Main">
            <div>
                <h2 id="myPage">Student life blog</h2>
                <p>Hello, my name is levav, Welcome to my webside!</p>
                <p>I study Industrial and Management Engineering BGU and im here to talk to you about studen's life in here, and of course hear about your experiences.</p>
            </div>
            <figure>
                <img src="../static/students.jpg" alt="picture not loading">
            </figure>
            <div>
                <p>I study and live in Beer Sheva:</p>
            </div>
            <figure>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3410.5300465746695!2d34.801737920329245!3d31.26143056710079!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1502665f2e01c71b%3A0x15ca4db0c140b893!2z15DXldeg15nXkdeo16HXmdeY16og15HXny3XkteV16jXmdeV158g15HXoNeS15E!5e0!3m2!1siw!2sil!4v1649775580312!5m2!1siw!2sil" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </figure>
         </div>

        <div class="space">
        </div>

        <footer>
            <nav class="footer">
                <ul class="navigation">
                    <a href="https://in.bgu.ac.il/en/Pages/students.aspx" target="_blank"><li>my university page</li></a>
                    <a href="https://www.facebook.com/BenGurionUniversity/" target="_blank"><li>my university facebook</li></a>
                    <a href="https://www.instagram.com/bengurionuniversity/?hl=en" target="_blank"><li>my university insta</li></a>
                    <a href="file:///C:/Users/Levav/Documents/WEB/levavshabtay/templates/connect.html" target="_blank"><li>Contact Us</li></a>                
                </ul>
            </nav>
        </footer>
</body>
</html>