<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <header style="height: 80px;width: 100%;display: block; background-color: palevioletred;">
            <div class="page container" style="height: 100%;display: table;float: left;">
                <h1 id="Levav's Page " style="padding-left: 20px; height: 100%;font-size: 32px; vertical-align: middle;color: black;">Levav's Page</h1>
            </div>
            <div class="inner_header" style="width: 1000px;height: 80px;display: block; margin:0 auto; background-color: palevioletred;">
                <ul class="navigation" style="float: right;vertical-align: middle;height: 100%;font-size: 16px;color: black;">
                    <a href="file:///C:/Users/Levav/Documents/WEB/levavshabtay/templates/HomePage.html" target="_blank"><li>Home</li></a>
                    <a href="file:///C:/Users/Levav/Documents/WEB/levavshabtay/templates/connect.html" target="_blank"><li>Contact Us</li></a>                
                </ul>
            </div>
        </header>
        <div style="padding-left: 20px; padding-bottom: 20px; border:5px solid palevioletred;">
            <h2 id="myPage">My Page</h2>
            <img src="../static/heartshapewelcome.jpg" alt="picture not loading">
        </div>
    </form> 
</body>
</html>