* {
    font-family:"Sofia", sans-serif;
    font-size: 18px;

}

h1{
    float: left;
    margin: auto;
    font-size: 50px;
    vertical-align: middle;
    font-weight: bold;

}

.navbar {
    padding: 1% 4% 1% ;
    background-color: #FCFFE7;
}

#submit,#NewTask{
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

/* activate the links */
.active {
	color: black;
}

li {
    display: inline;
}


#clock {
	text-align: center;
	border: 2px solid black;
}

/* grid */

#container {
    display: grid;
    grid-template-areas: 
    'header header header'
    'nav nav nav'
    'footer footer footer';
}

#item1 {
    grid-area: header;
}

#item2 {
    grid-area: nav;

}

#item3 {
    grid-area: footer;
}

@media only screen and (max-width: 600px) {
    body {background-color: lightskyblue;}
    #container {
        display: grid;
        grid-template-areas: 'header'
        'nav'
        'footer';
    }
    
}


